[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm
[submodule "libs/FilesystemX"]
	path = libs/FilesystemX
	url = https://github.com/ProtoByter/FileSystemX.git
[submodule "libs/SDL2"]
	path = libs/SDL2
	url = https://github.com/SDL-mirror/SDL.git
